<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <!-- START SNIPPET: client -->
  <bean id="client" class="org.logicblaze.lingo.jms.JmsProxyFactoryBean">
    <property name="serviceInterface" value="org.logicblaze.lingo.example.ExampleService"/>
    <property name="connectionFactory" ref="jmsFactory"/>
    <property name="destination" ref="exampleDestination"/>

    <!-- lets enable async one ways on the client -->
    <property name="metadataStrategy" ref="metadataStrategy"/>
  </bean>
  
  <!-- define the metadata strategy -->
  <bean id="metadataStrategy" class="org.logicblaze.lingo.SimpleMetadataStrategy">
    <!-- enable async one ways -->
    <constructor-arg value="true"/>
  </bean>
  
  <!-- END SNIPPET: client -->


  <!-- the server side -->
  <bean id="server" class="org.logicblaze.lingo.jms.JmsServiceExporter">
    <property name="service" ref="serverImpl"/>
    <property name="serviceInterface" value="org.logicblaze.lingo.example.ExampleService"/>
    <property name="connectionFactory" ref="jmsFactory"/>
    <property name="destination" ref="exampleDestination"/>
    <property name="metadataStrategy" ref="metadataStrategy"/>
  </bean>

  <!-- the actual implementation of the service - which is only made public for testing purposes -->
  <bean id="serverImpl" class="org.logicblaze.lingo.example.ExampleServiceImpl" singleton="true"/>


  <!-- JMS ConnectionFactory to use -->
  <bean id="jmsFactory" class="org.activemq.ActiveMQConnectionFactory">
    <property name="brokerURL">
      <value>vm://localhost</value>
    </property>
  </bean>

  <bean id="exampleDestination" class="org.activemq.message.ActiveMQQueue">
    <constructor-arg index="0">
      <value>test.org.logicblaze.lingo.example</value>
    </constructor-arg>
  </bean>
</beans>

